* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cell-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px solid burlywood;
}

.cell:nth-child(odd) {
  background-color: wheat;
}
.cell:nth-child(even) {
  background-color: mediumseagreen;
}
.cell:nth-child(3n) {
  background-color: darkcyan;
}
.cell:nth-child(4n) {
  background-color: mediumorchid;
}
.cell:nth-child(5n) {
  background-color: dodgerblue;
}
.cell:nth-child(6n) {
  background-color: teal;
}
.cell:nth-child(7n) {
  background-color: rosybrown;
}
.cell:nth-child(8n) {
  background-color: lightseagreen;
}
