:root {
  --border-color: rgb(0, 0, 0);
  --ce
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid var(--border-color);
}

.cell {
  flex-basis: calc(100% / 7);
  border: 1px solid var(--border-color);
  background-color: lightblue;
}

